<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XWall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XWall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XWall.Properties.Settings>
            <setting name="ProxyType" serializeAs="String">
                <value>SSH</value>
            </setting>
            <setting name="SshServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SshUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="HttpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="HttpPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenToLocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>9257</value>
            </setting>
            <setting name="SshCompression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SshSocksPort" serializeAs="String">
                <value>4220</value>
            </setting>
            <setting name="CustomRulesAddSubdomains" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SshAutoReconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlineRulesLastUpdateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOnlineRules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomRules" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OriginalProxies" serializeAs="String">
                <value />
            </setting>
            <setting name="DismissedUpdateVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SshNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubmitNewRule" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubmitNewRuleAsked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SshUsePlonk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SshPlonkKeyword" serializeAs="String">
                <value />
            </setting>
            <setting name="SshReconnectAnyCondition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SshProfiles" serializeAs="String">
                <value />
            </setting>
            <setting name="SshSelectedProfileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForwardAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetProxyAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
        </XWall.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XWall.Properties.Settings>
            <setting name="PlinkFileName" serializeAs="String">
                <value>plink.exe</value>
            </setting>
            <setting name="PrivoxyFileName" serializeAs="String">
                <value>privoxy.exe</value>
            </setting>
            <setting name="PrivoxyConfigFileName" serializeAs="String">
                <value>privoxy.config</value>
            </setting>
            <setting name="OnlineRulesUrl" serializeAs="String">
                <value>https://raw.github.com/vilic/x-wall/master/rules/rules-v2</value>
            </setting>
            <setting name="OnlineRulesFileName" serializeAs="String">
                <value>online-rules</value>
            </setting>
            <setting name="OnlineRulesUpdateInterval" serializeAs="String">
                <value>86400</value>
            </setting>
            <setting name="UseCustomRules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrivoxyOnlineForwardActionFileName" serializeAs="String">
                <value>privoxy-online-forward.action</value>
            </setting>
            <setting name="SshConnectTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="RuleUpdateTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="AbortionBeforeReconnect" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxReconnectPeriod" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="FeedbackEmail" serializeAs="String">
                <value>i@vilic.info</value>
            </setting>
            <setting name="WebsiteUrl" serializeAs="String">
                <value>http://x-wall.org</value>
            </setting>
            <setting name="UpdateInstallerUrl" serializeAs="String">
                <value>https://raw.github.com/vilic/x-wall/master/release/x-wall-setup.exe</value>
            </setting>
            <setting name="OnlineVersionUrl" serializeAs="String">
                <value>https://raw.github.com/vilic/x-wall/master/release/version</value>
            </setting>
            <setting name="UpdateInstallerName" serializeAs="String">
                <value>setup.exe</value>
            </setting>
            <setting name="ForwardConnectionRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpdateMarkName" serializeAs="String">
                <value>update-mark</value>
            </setting>
            <setting name="NewRuleFileName" serializeAs="String">
                <value>new-rule-cmd</value>
            </setting>
            <setting name="DeleteRuleFileName" serializeAs="String">
                <value>del-rule-cmd</value>
            </setting>
            <setting name="SubmitNewRuleToggleFileName" serializeAs="String">
                <value>submit-new-rule-toggle</value>
            </setting>
            <setting name="ShowUrlInfoUrl" serializeAs="String">
                <value>http://localhost:14220/url-info.html</value>
            </setting>
            <setting name="PrivoxyTemplatesFolderName" serializeAs="String">
                <value>privoxy-templates\</value>
            </setting>
            <setting name="PlonkFileName" serializeAs="String">
                <value>plonk.exe</value>
            </setting>
            <setting name="PrivoxyKeepAliveTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlinkConnectTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LocalServerFolderName" serializeAs="String">
                <value>local-server-apps\</value>
            </setting>
            <setting name="ConfigsFolderName" serializeAs="String">
                <value>configs\</value>
            </setting>
            <setting name="ResourcesFolderName" serializeAs="String">
                <value>resources\</value>
            </setting>
            <setting name="LocalServerPort" serializeAs="String">
                <value>14220</value>
            </setting>
            <setting name="PrivoxyOnlineDefaultActionFileName" serializeAs="String">
                <value>privoxy-online-default.action</value>
            </setting>
            <setting name="PrivoxyCustomDefaultActionFileName" serializeAs="String">
                <value>privoxy-custom-default.action</value>
            </setting>
            <setting name="PrivoxyCustomForwardActionFileName" serializeAs="String">
                <value>privoxy-custom-forward.action</value>
            </setting>
        </XWall.Properties.Settings>
    </applicationSettings>
</configuration>